openapi: '3.1.0'
info:
  title: Minerva API
  description: API for Minerva system management
  version: "1.0.0"
  license:
    name: GNU Affero General Public License v3.0 or later
    identifier: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl.txt
servers:
  - url: https://demo.1optic.io/gis-api/v1
security: []
paths:
  /trend-view-materializations:
    get:
      summary: Return the list of view-based materializations
      operationId: getTrendViewMaterializations
      description: |
        This endpoint returns the full list of trend view materializations.
      tags:
        - Materializations
      responses:
        200:
          description: An array of trend view materializations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendViewMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new view-based materialization
      operationId: createTrendViewMaterialization
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/TrendViewMaterialization'
      responses:
        200:
          description: Trend view materialization successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendViewMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Trend view materialization creation seems to succeed, but the created materialization cannot be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-view-materializations/{materializationId}:
    get:
      summary: Get a specific trend view materialization
      operationId: getTrendViewMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend view materialization with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendViewMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend view materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a specific trend view materialization
      operationId: updateTrendViewMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/TrendViewMaterialization'
      responses:
        200:
          description: The updated trend view materialization with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendViewMaterialization'
        401:
          description: User is not allowed to perform this operation on this trend view materialization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend view materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a specific trend view materialization
      operationId: deleteTrendViewMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend view materialization was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: User is not allowed to perform this operation on this trend view materialization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend view materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-function-materializations:
    get:
      summary: Trend Function Materializations
      operationId: getTrendFunctionMaterializations
      description: |
        This endpoint returns the full list of trend function materializations.
      tags:
        - Materializations
      responses:
        200:
          description: An array of trend function materializations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendFunctionMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new function-based materialization
      operationId: createTrendFunctionMaterialization
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/TrendFunctionMaterialization'
      responses:
        200:
          description: Trend function materialization successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendFunctionMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-function-materializations/{materializationId}:
    get:
      summary: Get a specific trend function materialization
      operationId: getTrendFunctionMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend function materialization with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendFunctionMaterialization'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend function materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a specific trend function materialization
      operationId: updateTrendFunctionMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/TrendFunctionMaterialization'
      responses:
        200:
          description: The updated trend function materialization with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendFunctionMaterialization'
        401:
          description: User is not allowed to perform this operation on this trend function materialization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend function materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a specific trend function materialization
      operationId: deleteTrendFunctionMaterializationById
      parameters:
        - name: materializationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend function materialization was successfully deleted
        401:
          description: User is not allowed to perform this operation on this trend function materialization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend function materialization does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-store:
    get:
      summary: Trend Stores
      operationId: getTrendStores
      description: |
        This endpoint returns the full list of trend stores.
      responses:
        200:
          description: An array of trend stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendStore'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-store/{trendStoreId}:
    get:
      summary: Get a specific trend store
      operationId: getTrendStoreById
      parameters:
        - name: trendStoreId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend store with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendStore'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend store does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-store-part:
    get:
      summary: Trend Store Parts
      operationId: getTrendStoreParts
      description: |
        This endpoint returns the full list of trend store parts.
      responses:
        200:
          description: An array of trend store parts
          content:
             application/json:
               schema:
                 type: array
                 items:
                   $ref: '#/components/schemas/TrendStorePart'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trend-store-part/{trendStorePartId}:
    get:
      summary: Get a specific trend store part
      operationId: getTrendStorePartById
      parameters:
        - name: trendStorePartId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The trend store part with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendStorePart'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The trend store part does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data-source:
    get:
      summary: Data Sources
      operationId: getDataSources
      description: |
        This endpoint returns the full list of data sources.
      tags:
        - Materializations
      responses:
        200:
          description: An array of data sources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSource'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data-source/{dataSourceId}:
    get:
      summary: Get a specific data source
      operationId: getDataSourceById
      parameters:
        - name: dataSourceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The data source with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The data source does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entity-type:
    get:
      summary: Entity Types
      operationId: getEntityTypes
      description: |
        This endpoint returns the full list of entity types.
      tags:
        - Materializations
      responses:
        200:
          description: An array of entity types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntityType'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entity-type/{entityTypeId}:
    get:
      summary: Get a specific entity type
      operationId: getEntityTypeById
      parameters:
        - name: entityTypeId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: The entity type with the specified Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityType'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: The entity type does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /kpis:
    post:
      summary: Create a new KPI
      operationId: createKPI
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/KPI'
      responses:
        200:
          description: KPI successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        400:
          description: The input is incorrectly formatted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Creation of the KPI failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a KPI
      operationId: updateKPI
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/KPI'
      responses:
        200:
          description: KPI successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        400:
          description: The input is incorrectly formatted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: KPI to be changed does not exist (or is not a KPI)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Creation of the KPI failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: KPIs
      operationId: getKPIs
      responses:
        200:
          description: An array of KPIs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KPI'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /triggers:
    get:
      summary: List of existing triggers
      operationId: getTriggers
      responses:
        200:
          description: An array of triggers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trigger'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Change the thresholds for a trigger
      operationId: updateTrigger
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        200:
          description: Trigger successfully changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        400:
          description: The input is incorrectly formatted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        404:
          description: Trigger to be changed does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Changing the trigger failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entitysets:
    get:
      summary: List of existing entity sets
      operationId: getEntitySets
      responses:
        200:
          description: An array of entity sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntitySet'
        401:
          description: User is not allowed to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new entity set
      operationId: createEntitySet
      responses:
        200:
          description: Creating entity set succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        400:
          description: The input is incorrectly formatted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Creating the entity set failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Changing an entity set
      operationId: updateEntitySet
      responses:
        200:
          description: Changing entity set succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        400:
          description: The input is incorrectly formatted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        409:
          description: Changing the entity set failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Database unreachable or unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TrendViewMaterialization:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier representing a specific trend view materialization
        materialization_id:
          type: integer
          description: Unique identifier as a general materialization
        target_trend_store_part:
          type: integer
        processing_delay:
          type: string
          description: Period to wait after the timestamp of the calculation
        stability_delay:
          type: string
        reprocessing_period:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/TrendMaterializationSource'
        view:
          type: string
        fingerprint_function:
          type: string
    TrendFunctionMaterialization:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier representing a specific trend function materialization
        materialization_id:
          type: integer
          description: Unique identifier as a general materialization
        target_trend_store_part:
          type: integer
        processing_delay:
          type: string
          description: Period to wait after the timestamp of the calculation
        stability_delay:
          type: string
        reprocessing_period:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/TrendMaterializationSource'
        function:
          $ref: '#/components/schemas/TrendMaterializationFunction'
    TrendMaterializationSource:
      type: object
      properties:
        trend_store_part:
          type: integer
          description: Identifier of the source trend store part.
        mapping_function:
          type: string
          description: Name of the timestamp mapping function.
    TrendMaterializationFunction:
      type: object
      properties:
        return_type:
          type: string
        src:
          type: string
        language:
          type: string
    Trend:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the trend
        trend_store_part:
          type: integer
          description: Id of the trend store part to which the trend belongs
        name:
          type: string
        data_type:
          type: string
        time_aggregation:
          type: string
        entity_aggregation:
          type: string
        extra_data:
          type: object
          additionalProperties: true
          description: additional JSON data
        description:
          type: string
    GeneratedTrend:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the generated trend
        trend_store_part:
          type: integer
          description: Id of the trend store part to which the trend belongs
        name:
          type: string
        data_type:
          type: string
        expression:
          type: string
        extra_data:
          type: object
          additionalProperties: true
          description: additional JSON data
        description:
          type: string
    TrendStorePart:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the trend store part
        name:
          type: string
          description: Name of the trend store part
        trend_store:
          type: integer
          description: Id of the trend store to which the trend store part to which the trend store belongs
        trends:
          type: array
          items:
            $ref: '#/components/schemas/Trend'
        generated_trends:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedTrend'
    TrendStore:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the trend store
        entity_type:
          type: string
          description: Name of the entity type that the trend store is based on
        data_source:
          type: string
          description: Name of the data source that the trend store is based on
        granularity:
          type: string
        partition_size:
          type: string
        retention_period:
          type: string
        trend_store_parts:
          type: array
          items:
            $ref: '#/components/schemas/TrendStorePart'          
    DataSource:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the data source
        name:
          type: string
        description:
          type: string
    EntityType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the entity type
        name:
          type: string
        description:
          type: string
    KPI:
      type: object
      properties:
        name:
          type: string
          description: trend for which the KPI is defined
        entity_type:
          type: string
        data_type:
          type: string
          description: data type of the KPI
        enabled:
          type: boolean
        source_trends:
          type: array
          items:
            type: string
          description: trends on which the KPI depends
        definition:
          type: string
          description: SQL definition of the actual KPI definition
    Threshold:
      type: object
      properties:
        name:
          type: string
        data_type:
          type: string
        value:
          type: string
    Trigger:
      type: object
      properties:
        name:
          type: string
          description: name of the trigger
        enabled:
          type: boolean
        description:
          type: string
        thresholds:
          type: array
          items:
            $ref: '#/components/schemas/Threshold'
    EntitySet:
      type: object
      properties:
        name:
          type: string
        group:
          type: string
        entity_type:
          type: string
        owner:
          type: string
        description:
          type: string
        entities:
          type: array
          items:
            type: string
        created:
          type: string
          description: date/time of creation of the entity set
        modified:
          type: string
          description: date/time of last change to the entity set
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Success:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

